	</main>

	<footer class="footer">
		<div class="container">
			<div class="footer__content">
				<div class="footer__top">
					<a class="footer__logo" href="/">
						<img class="footer__logo-img" src="/catalog/view/theme/shop/assets/img/logo-white.png" alt="">
					</a>
					<ul class="footer__menu">
						<li class="footer__menu-item">
							<a class="footer__menu-link" href="/about/">О компании</a>
						</li>
						<li class="footer__menu-item">
							<a class="footer__menu-link" href="/oferta/">Публичная оферта</a>
						</li>
						<li class="footer__menu-item">
							<a class="footer__menu-link" href="/policy/">Политика конфиденциальности</a>
						</li>
					</ul>
					<div class="social-links footer__social-links">
						<div class="social-links__list">
							<a class="social-links__link" href="https://www.instagram.com/" target="_blank">
								<img src="/catalog/view/theme/shop/assets/img/icons/social/instagram-white.svg" alt="">
							</a>
							<a class="social-links__link" href="https://www.facebook.com/" target="_blank">
								<img src="/catalog/view/theme/shop/assets/img/icons/social/facebook-white.svg" alt="">
							</a>
							<a class="social-links__link" href="https://www.youtube.com/" target="_blank">
								<img src="/catalog/view/theme/shop/assets/img/icons/social/youtube-white.svg" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="footer__bottom">
					<div class="footer__bottom-main">
						<div class="footer__copyright">
							<div class="footer__copyright-title">Группа компаний «TWR Group»</div>
							<div class="footer__copyright-text">© 2023. Все права защищены</div>
						</div>
						<a class="footer__company" href="#">
							<img class="footer__company-img" src="/catalog/view/theme/shop/assets/img/footer-companies/terrawood.png" alt="">
							<img class="footer__company-img footer__company-img--hover"
								src="/catalog/view/theme/shop/assets/img/footer-companies/terrawood-hover.png" alt="">
						</a>
						<a class="footer__company" href="#">
							<img class="footer__company-img" src="/catalog/view/theme/shop/assets/img/footer-companies/noblex.png" alt="">
							<img class="footer__company-img footer__company-img--hover"
								src="/catalog/view/theme/shop/assets/img/footer-companies/noblex-hover.png" alt="">
						</a>
						<a class="footer__company" href="#">
							<img class="footer__company-img" src="/catalog/view/theme/shop/assets/img/footer-companies/metrotile.png" alt="">
							<img class="footer__company-img footer__company-img--hover"
								src="/catalog/view/theme/shop/assets/img/footer-companies/metrotile-hover.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</footer>

	<div class="cookie">
		<div class="container">
			<div class="cookie__content">
				<div class="text cookie__text">Мы используем файлы cookies чтобы сайт работал лучше и быстрее. Надеемся,
					вы не против.</div>
				<button class="btn btn--border cookie__btn">Хорошо</button>
			</div>
		</div>
	</div>
		<div class="callback-box">
			<button class="icon-circle callback-box__btn">
				<img class="icon-circle__icon" src="/catalog/view/theme/shop/assets/img/icons/whatsapp.svg" alt="">
			</button>
		</div>	
	<div class="popup" data-name="callback">
		<div class="popup__content">
			<form class="popup-form popup__form js-form" autocomplete="off">
				<img class="popup-form__logo" src="/catalog/view/theme/shop/assets/img/logo.png" alt="">
				<div class="title5 popup-form__title">Оставьте заявку, и мы свяжемся с Вами!</div>
				<div class="popup-form__main">
					<div class="form-field popup-form__item">
						<input class="input form-field__input" type="text" placeholder="Ваше имя" data-validate="name"
							data-label="имя">
						<span class="form-field__error"></span>
					</div>
					<div class="form-field popup-form__item">
						<input class="input form-field__input" type="text" placeholder="Телефон" data-validate="phone"
							data-label="телефон">
						<span class="form-field__error"></span>
					</div>
					<div class="form-field popup-form__item">
						<div class="select">
							<select class="select__field form-field__input" data-validate="empty" data-label="город">
								<option value="" disabled selected>Город</option>
								<option value="1">Москва</option>
								<option value="2">Астана</option>
								<option value="3">Новосибирск</option>
							</select>
						</div>
						<span class="form-field__error"></span>
					</div>
					<button class="btn btn--border popup-form__btn">Отправить</button>
					<div class="popup-form__privacy">Нажимая кнопку “Отправить”, вы соглашаетесь на обработку
						<a href="#">персональных данных</a>
					</div>
				</div>
			</form>
			<button class="popup__close"></button>
		</div>
	</div>

</body>

</html>